
*{font-family: Arial, Helvetica, sans-serif;}
.gridcontainer{

    box-sizing: border-box;
    display: grid;
    grid-template-columns: repeat(4,25%) ;
    grid-auto-flow: column;
    column-gap: 20px;
}

.cont{
   
 
 border: solid 1px rgb(192, 192, 192);
  margin:5px;
  padding: px;
 
   
 
}

figure{
  
    overflow: hidden;
    height:200px;
    width:300px;
    border-radius: 5px;
}
p{width: 300px; }